{% load static %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>{% block title %} L'explic&#339;ur {% endblock %} </title>
  <!-- styles -->
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<!--    <link rel="stylesheet" type="text/css" href="{% static 'css/fa-all.css' %}">-->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static "css/style.v2.css" %}">
<!--    <link href='http://cdn.pydata.org/bokeh/release/bokeh-2.2.3.min.css' rel=”stylesheet” type=”text/css”>-->
<!--    <link href='http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.2.3.min.css' rel=”stylesheet” type=”text/css”>-->
<!--    <link href="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.2.3.min.css" rel="stylesheet" type="text/css">-->
    <script src="{% static 'js/bokeh-2.2.3.min.js' %}"></script>
    <script src="{% static 'js/bokeh-widgets-2.2.3.min.js' %}"></script>
    <script src="{% static 'js/bokeh-tables-2.2.3.min.js' %}"></script>
      {{ script | safe }}
      {{ script_bottom | safe }}
</head>

<body>

    <div class="header">
      <div class="container">
      <div class="row">
        <div class="col">
          <a class="logo" href="{% url 'welcome_page' %}">
              <h1 style="margin-left:70px; font-size: 40px;"> L'explic&#339;ur </h1>
          </a>
        </div>
        <div class="col p-0">
          <button class="navbar-toggler navbar-light bg-light float-right" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
               <p>Consulter les explications globales : </p>
               <div class="row">
                <div class="col-md-6">
                  <a href="{% url 'decision_tree' %}" class="btn btn-primary">Arbre</a>
                </div>
                <div class="col-md-6">
                  <a href="{% url 'partial_dep' %}" class="btn btn-primary">Partial Dependce Plot</a>
                </div>
               <br><br>
               </div>
               <p> Choisir les variables à afficher et la sortie de l'algorithme </p>
                <form method="post" action="{% url 'feature_output_choice' %}">
                  {% csrf_token %}
                  <table>{{ feat_output_form.as_table }}</table>
                  <button class="btn btn-primary" type="submit"> Enregistrer </button>
                </form>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

{% block alert %} {% endblock %}

<div class="container">
    <h3> {% block h3 %}{% endblock %} </h3>
</div>
<!--  </section>-->
    <div class="container maincontainer" style="min-height: 600px;max-width:1300px">
        {% block content %}{% endblock %}
    </div>

   <div class="container">
       <small>
       <p>
           Liste des abbréviations :
       </p>
       <ul>
           <li> CEC : Circulation Extra Corporelle </li>
           <li> DRG : infustion de drogue inotrope </li>
           <li> SIAV : assistance longue durée (droite, gauche ou biventriculaire) </li>
           <li> XPCA ou XPCP1/2 : composante expert adulte ou pédiatrique </li>
           <li> CAT : Coeur Artificiel Total </li>
           <li> SNAGC : Score National d'Attribution des Greffons Cardiaque </li>
           <li> CCP : score Cardiaque Composite Pondéré </li>
           <li> CCB : score Cardiaque Composite Brut </li>
           <li>
               Bonus assist. : tous les cinq greffons, un bonus est accordé
               aux patients sous assistance gauche. La variable "Bonus assist"
               caractérise les greffons pour lesquels ce bonus s'applique.
           </li>
       </ul>
       </small>
   </div>
  <!-- Footer
 ================================================== -->
<div class="footer">
  <p>Clément Henin (clement.henin@inria.fr) -- Inria PRIVATICS</p>
  <p>Ce site utilise des cookies pour les besoins de son fonctionnement interne</p>
</div>

</body>

</html>
