<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Données fictives</h4>
  <p>
      Les données présentées sur cette page ont été générées et ne correspondent
      pas à des personnes réelles.
  </p>
  <hr>
  <p class="mb-0">
      Cette mesure a été mise en place afin de préserver la vie privée
      des patients greffés ou en attente de greffe.
      <br>
      Les réalisme et la pertinence des informations fournies peuvent
      s'en trouver affectés.
  </p>
</div>
