{% extends 'base.html' %}

{% block title %} Arbre de décision {% endblock %}

{% block h3 %}Explication globale : arbre de décision{% endblock %}

{% block content %}

<div class="container">
    <p>
        L'arbre de décision présenté ci-dessous utilise une méthode
        d'apprentissage automatique pour partitionner l'espace
        des variables du score afin d'identifier des zones ayant un score uniforme.
        Les feuilles de l'arbre, les zones au bout des branches qui sont
        représentées ici en couleur, sont caractérisées par un score particulièrement
        élevé ou particulièrement faible. L'arbre donne une représentation synthétique
        et approximative du score dans son ensemble, il s'agit d'une explication globale.
    </p>
    <p>
        <b>Comment lire l'arbre de décision ?</b>
    </p>
    <p>
        Les règles qui sont utilisées pour définir les feuilles appraissent dans les
        carrés blancs. Les scores qui vérifient ces règles sont regroupés à gauche
        de la règle et ceux qui ne la vérifient pas sont à droite.
        En passant le curseur de la souris sur l'un des carrés (règle ou feuille),
        des informations supplémentaires apparaissent sur les scores qui vérifient les
        règles antérieures.
    </p>
    <p>
        Le score à analyser peut être modifié dans l'en-tête. Trois choix sont possibles :
    </p>
    <ul>
        <li>
            Score National d'Attribution des Greffons Cardiaque (SNACG) : c'est
            le score final qui est utilisé pour établir l'ordre de proposition
            des greffons. Il prend en compte les caractéristiques du candidat
            et du donneur ainsi que la durée de transport entre les centres de
            prélèvement et de greffe.
        </li>
        <li>
            Score Cardiaque Composite Pondéré (CCP) : le CCP prend en compte
            les caractéristiques du candidat et du donneur, mais pas la distance
            entre les centres.
        </li>
        <li>
            Score Cardiaque Composite Brut (CCB) : le CCB ne prend en compte que
            les caractéristiques du candidat. L'objectif principal est d'établir
            le risque de décès du candidat sur la liste d'attente. Les composantes
            exert et pédiatrique sont aussi prises en compte dans ce score.
        </li>
    </ul>
    <p>
        <b>Comment l'arbre est calculé ? </b>
    </p>
    <p>
        L'arbdre de décision s'appuit sur les données historiques des scores.
        À chaque fois qu'un greffon est disponible, le score est calculé pour l'ensemble
        des candidats inscrits sur la liste d'attente.
        Ces données concernent donc les candidats et les donneurs.
        L'arbre est construit itérativement du haut vers le bas.
        À chaque itération, la règle conduisant à la création des deux groupes
        ayant les scores les plus homogènes (selon le critère de Gini) est sélectionnée.
    </p>
</div>

{{ div|safe }}

{% endblock %}
