{% extends 'base.html' %}

{% block title %} Décision - {{ id_decision }} {% endblock %}

{% block alert %}{% include 'alert_fake_data.html' %}{% endblock %}

{% block h3 %}Explication et justification d'une décision{% endblock %}

{% block content %}

<div class="container">
    <p>
        Cette page contient des informations expliquant la valeur du score
        dans un cas particulier, il s'agit donc d'explications locales du système.
    </p>
    <p>
        <b>Comment lire cette page ?</b>
        <br>
        La page est composée de quatre parties :
    </p>
    <ol>
        <li>
            <i>Informations sur le candidat et le donneur</i> : tableau regroupant les
            valeurs des variables utilisées pour calculer le score.
        </li>
        <li>
            <i>Importances relatives des variables</i> : donne une représentation visuelle
            de l'importance de chaque variable dans le calcul du score.
            Si une variable a une longue barre verte, alors la valeur du patient
            pour cette variable tend à lui faire "gagner des points" en comparaison
            d'un autre patient moyen (et inversement pour une barre orange).
        </li>
        <li>
            <i>Explication sous forme de règles</i> : donne une représentation
            simplifiée du fonctionnement du score dans des situations similaires
            au cas en question.
        </li>
        <li>
            <i>Justifications</i> : l'objectif de la justification n'est pas exactement
            d'aider à comprendre le fonctionnement du système, mais plutôt de convaincre
            que le classement obtenu par le patient est justifié au regard de certains critères.
            À la différence des explications qui se focalisent sur une décision en particulier,
            les justifications prennent en compte les autres patients classés sur la liste
            d'attente au moment où le score est calculé.
            Par exemple, si le champ "Risque de décès sur l'attente (ICAR)" est associé à une longue
            barre verte, cela signifie que ce patient a un risque de décès sur la liste
            d'attente (estimé par le score ICAR) plus important que le reste de la liste,
            ce qui tend à justifier que ce patient soit bien classé.
            Cependant, ce critère doit être modéré par les autres critères qui peuvent
            justifier qu'un patient soit bien ou mal classé.
            Dans la version actuelle du score, nous distinguons
            cinq critères (appelés "normes") qui sont présentés sur le graphique.
        </li>
    </ol>
    <p>
        Le score à analyser peut être modifié dans l'en-tête. Trois choix sont possibles :
    </p>
    <ul>
        <li>
            Score National d'Attribution des Greffons Cardiaque (SNACG) : c'est
            le score final qui est utilisé pour établir l'ordre de proposition
            des greffons. Il prend en compte les caractéristiques du candidat
            et du donneur ainsi que la durée de transport entre les centres de
            prélèvement et de greffe.
        </li>
        <li>
            Score Cardiaque Composite Pondéré (CCP) : le CCP prend en compte
            les caractéristiques du candidat et du donneur, mais pas la distance
            entre les centres.
        </li>
        <li>
            Score Cardiaque Composite Brut (CCB) : le CCB ne prend en compte que
            les caractéristiques du candidat. L'objectif principal est d'établir
            le risque de décès du candidat sur la liste d'attente. Les composantes
            exert et pédiatrique sont aussi prises en compte dans ce score.
        </li>
    </ul>
    <p>
        <b>Comment ces informations sont-elles calculées ? </b>
    </p>
    <ol>
        <li>
            Les deux types d'explication (importances de variable et règles) sont
            calculés grâce à une approche boîte noire. Le système d'explication
            regarde un grand nombre de situations proches du cas en question
            et détermine, grâce à un modèle linéaire ou à un modèle à base de
            règles, les variables qui ont le plus d'impact sur la valeur du score.
            Les explications répondent donc à la question : "pourquoi ce patient
            a plus de points ou moins de points que d'autres patients similaires ?"
        </li>
        <li>
            Les justifications s'appuyent sur cinq normes : le score ICAR qui estime
            le risque de mortalité sur la liste d'attente,
            le nombre de points obtenus grâce à une composante expert, l'estimation de la
            survie post-greffe à un an (score IMPACT), la compabilité candidat/donneur
            (estimé avec le nombre de points perdus après la prise en compte des
            caractéristiques du donneur) et la minimisation de la durée de transport du greffon
            (estimé avec le nombre de points perdus pour cette raison).
            Les normes sont estimées pour tous les patients de la liste d'attente. La valeur
            affichée correspond à la différence à la moyenne de la liste mesurée en
            écart type moyen.
        </li>
    </ol>
</div>

<div class="container" style="font-size: 150%">
    Date du prélèvement :  {{ scope.DATPREL_ANON|date }} <br>
    Score ({{ output_name }}) obtenu pour ce greffon : {{ output_value|floatformat }} <br>
    Rang : {{ scope.rank }} <a href="{% url 'rankings' id_donneur=scope.NUMDON_ANON %}">(voir la liste d'attente)</a> <br>
</div>

    <br>
    <br>

{{ div|safe }}

    <br>
    <br>

{% if rules %}
<h5>Explication sous forme de régles</h5>

<div class="container">
  <div class="d-flex flex-row p-2">
  <div class="col-3 p-4 border" align="center">
      {% if rules %}
      {% for rule_ in rules %}
          {% if forloop.revcounter > 1 %}
            {{ rule_.0 }} et <br>
          {% else %}
            {{ rule_.0 }}
          {% endif %}
      {% endfor %}
      {% endif %}
    </div>
    <div class="col-auto my-auto">
        <div class="d-inline-flex p-4">
            <i class="fa fa-arrow-right my-auto" aria-hidden="true" style="font-size: 30px;"></i>
        </div>
    </div>
    <div class="col-auto my-auto">
        <div class="d-inline-flex p-4 my-auto">
            <span style="font-size: 20px;">
                Score ({{ output_name }})
                {% if output_value > 600 %}
                    élevé (> 600)
                {% elif output_value > 200 %}
                    moyen (200 < x < 600)
                {% elif output_value <= 200 %}
                    faible (< 200)
                {% endif %}
            </span>
        </div>
    </div>
  </div>
</div>
{% endif %}

<br>
<br>
    {{ div_bottom|safe }}

{% endblock %}

