{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block h3 %}Accueil{% endblock %}

{% block content %}

<div class="container">

    <p>
        Bienvenue sur le site d'expérimentation de l'outil d'explication
        du score coeur "explicoeur".
        Cet outil est le fruit d'une collaboration entre l'Inria et de l'Agence
        de la Biomédecine réalisée dans le cadre des travaux de thèse de Clément Henin.
        L'objectif de l'explicoeur est de fournir des informations aux professionnels
        de santé utilisant le score coeur pour améliorer globalement
        le fonctionnement du système et de favoriser les interactions avec
        le système d'attribution des greffons cardiaques.
    </p>
    <p>
        L'outil présenté sur ce site est un prototype de recherche et l'objectif
        de cette expérimentation est de valider l'intérêt de tels outils pour
        le milieu de la greffe cardiaque.
        Une partie des informations proposées est calculée directement
        au moment de la requête par notre prototype, cela peut conduire à des
        temps d'attente de quelques secondes.
        Afin de préserver la vie privée des patients en attente de greffe, les
        données présentées sur ce site ont été générées aléatoirement. Il ne s'agit
        donc pas de vrais patients. Certaines mesures ont été prises pour que les
        données ressemblent à des données réelles, mais des incohérences peuvent
        persister. Aussi, la qualité des informations fournies peut être affectée
        par l'utilisation de fausses données.
    </p>
<div class="card-deck justify-content-center">
 <div class="card mb-3 justify-content-center" style="max-width: 540px;">
   <div class="card-body">
    <h5 class="card-title">Explications globales</h5>
    <div class="row no-gutters">
     <p class="card-text">Pour obtenir des informations sur le système dans son ensemble, consultez
         les explications globales. <br><br>
     </p>
    </div>
    <div class="row">
     <div class="col-md-6">
       <a href="{% url 'decision_tree' %}" class="btn btn-primary">Arbre</a>
     </div>
     <div class="col-md-6">
       <a href="{% url 'partial_dep' %}" class="btn btn-primary">Partial Dependence Plot</a>
     </div>
     </div>
   </div>
 </div>
</div>

<div class="card-deck justify-content-center">
 <div class="card mb-3" style="max-width: 540px;">
   <div class="card-body">
    <h5 class="card-title">Liste d'attente</h5>
    <div class="row no-gutters justify-content-between">
     <div class="col-md-5">
      Accéder la liste d'attente à date
     </div>
     <div class="col-md-6">
        <form method="post">
          {% csrf_token %}
         <div class="form-row">
           {{ form_date.date_field|as_crispy_field }}
        </div>
        <input class="btn btn-primary" type="submit" value="Liste d'attente" name="waitlist_date">
        </form>
     </div>
    </div>
   </div>
 </div>
</div>
<div class="card-deck justify-content-center">
 <div class="card mb-3 justify-content-center" style="max-width: 540px;">
   <div class="card-body">
    <h5 class="card-title">Historique patient</h5>
    <div class="row no-gutters justify-content-between">
     <div class="col-md-5">
      Accéder aux données d'un patient
     </div>
     <div class="col-md-6">
        <form method="post">
          {% csrf_token %}
         <div class="form-row">
           {{ form_patient.id_patient|as_crispy_field }}
        </div>
        <input class="btn btn-primary" type="submit" value="Accéder au patient">
        </form>
     </div>
    </div>
   </div>
 </div>
</div>

<div class="card-deck justify-content-center">
 <div class="card mb-3 justify-content-center" style="max-width: 540px;">
   <div class="card-body">
    <h5 class="card-title">Explication d'une décision</h5>
    <div class="row no-gutters justify-content-between">
     <div class="col-md-5">
      Accéder aux explication pour une décision particulière.
     </div>
     <div class="col-md-6">
        <form method="post">
          {% csrf_token %}
         <div class="form-row">
           {{ form_decision.id_bilan|as_crispy_field }}
         </div>
         <div class="form-row">
           {{ form_decision.id_donneur|as_crispy_field }}
         </div>
        <input class="btn btn-primary" type="submit" value="Accéder au patient">
        </form>
     </div>
    </div>
   </div>
 </div>
</div>
</div>

<p align="justify">

</p>
<p>
    <b> Qui sommes-nous ?</b> <br>
    Clément Henin est membre de l’équipe PRIVATICS d’Inria (Institut national de recherche en sciences et technologies du numérique).
</p>

{% endblock %}


