{% extends 'base.html' %}

{% block title %} Partial Dependence Plot {% endblock %}

{% block h3 %}Explication globale : <i>Partial Dependence Plot</i>{% endblock %}

{% block content %}
<div class="container">
    <p>
        Les <i>Partial Dependence Plots</i> permettent de
        visualiser l'impact moyen de chaque variable sur le score
        à l'echelle de la population. Il s'agit d'une explication
        "globale" puisqu'elle concerne le système dans son ensemble.
    </p>
    <p>
        <b>Comment lire ces graphiques ?</b>
    </p>
    <p>
        Chaque variable est décrite par deux graphiques :
    </p>
    <ul>
        <li>
            Graphique du haut (en bleu) : pour chaque valeur possible de
            la variable (axe des X), il indique le score moyen qu'aurait
            la population avec cette valeur. La moyenne est présentée sous la forme
            d'une ligne pour les variables continues (âge, taille, ...) et sous la
            forme de barres pour les variables catégorielles (sexe, groupe sanguin, ...).
        </li>
        <li>
            Graphique du bas (en gris) : informe sur la distribution de
            la population. Pour les variables catégorielles, la hauteur des
            rectangles indique la proportion relative de patients ayant
            cette variable. Pour les variables continues, chaque trait correspond à
            un quantile. Des traits rapprochés indiquent donc que plus de patients
            ont ces valeurs dans la population.
        </li>
    </ul>
    <p>
        Le score à analyser peut être modifié dans l'en-tête. Trois choix sont possibles :
    </p>
    <ul>
        <li>
            Score National d'Attribution des Greffons Cardiaque (SNACG) : c'est
            le score final qui est utilisé pour établir l'ordre de proposition
            des greffons. Il prend en compte les caractéristiques du candidat
            et du donneur ainsi que la durée de transport entre les centres de
            prélèvement et de greffe.
        </li>
        <li>
            Score Cardiaque Composite Pondéré (CCP) : le CCP prend en compte
            les caractéristiques du candidat et du donneur, mais pas la distance
            entre les centres.
        </li>
        <li>
            Score Cardiaque Composite Brut (CCB) : le CCB ne prend en compte que
            les caractéristiques du candidat. L'objectif principal est d'établir
            le risque de décès du candidat sur la liste d'attente. Les composantes
            exert et pédiatrique sont aussi prises en compte dans ce score.
        </li>
    </ul>
    <p>
        <b>Comment sont-ils calculés ? </b>
    </p>
    <p>
        Ces graphiques s'appuyent sur les données historiques des scores.
        À chaque fois qu'un greffon est disponible, le score est calculé pour l'ensemble
        des candidats inscrits sur la liste d'attente.
        Ces données concernent donc les candidats et les donneurs.
        Pour estimer l'impact d'une variable, la mise sous Circulation
        Extra-Corporelle (CEC) par exemple, la base de données est
        artificiellement modifiée pour donner à tous les couples
        candidat/greffon la même valeur. Pour calculer le score moyen obtenu
        avec une CEC, on impute la valeur "CEC" à toute la base historique et on
        calcule le score moyen obtenu. La même opération est ensuite faite pour la valeur
        "Absence de CEC".
    </p>
</div>


    {{ div|safe }}

{% endblock %}
