{% extends 'base.html' %}

{% block title %} Patient - {{ id_patient }} {% endblock %}

{% block alert %}{% include 'alert_fake_data.html' %}{% endblock %}

{% block h3 %}Historique patient{% endblock %}


{% block content %}

<div class="container">
    <p>
        Cette page est une représentation visuelle des
        informations collectées sur un patient pour calculer son score.
        Les principales variables et les scores historiquement calculés
        sont présentés.
    </p>
    <p>
        <b>Comment lire cette page ?</b>
    </p>
    <p>
        La page est organisée en différentes sections :
    </p>
    <ol>
        <li>
            Tableau "Informations patient" : il contient les informations
            générales "permanentes" du patient.
        </li>
        <li>
            Graphique "Évènements" : représentation temporelle de l'état du patient,
            des bilans, des mises sous assistance (SIAV, CAT ou CEC), de l'utilisation de
            drogues inotropes et de l'obtention d'une composante expert.
        </li>
        <li>
            Graphique "NT-Probnp", "Créatinine" et "Bilirubine" : représentation
            temporelle des résultats de biologie
        </li>
        <li>
            Information sur les propositions de greffe : représentation temporelle
            de l'historiques des valeurs de score et de rang pour les greffons.
        </li>
        <li>
            "Tableau des scores" : donne les caractéristiques des greffons proposés
            ainsi que les valeurs de scores correspondantes. La colonne "Id decision"
            renvoie vers la page d'explication du score.
        </li>
    </ol>
</div>

{{ div|safe }}
{% endblock %}


