{% extends 'base.html' %}

{% block title %} Projet "explic&#338;ur" {% endblock %}

{% block content %}
<h5 id="headings">Présentation de la décision </h5>

<p align="justify">
    Le cas d'étude de cette expérimentation concerne le domaine judiciaire.
    Un algorithme basé sur l'apprentissage est utilisé pour classer les dossiers d'accusés
    en deux catégories de risque de récidive : <b>faible</b> ou <b>haut</b>.
    Cette classification est très importante car elle est directement utilisée par le juge pour déterminer la peine
    finale. Les accusés à haut risque de recidive reçoivent une peine plus importante que les accusés à faible risque.
    Pour que les exercices restent simples, nous avons limité le nombre de variables à 6.
    Les cas sont présentés sous forme de texte de la manière suivante :
</p>

<div class="card mb-3" style="max-width: 36rem;">
  <div class="card-body">
    <h5 class="card-title"> Cas </h5>
    <p class="card-text">
        L'accusé est un <b>homme</b> agé de <b>44</b> ans d'origine <b>Afro-americaine</b>. <br>
        Il ou elle est accusé de <b>Felony Battery (Dom Strang)</b>, classé comme un <b>crime</b>.  <br>
        Avant cela, cette personne avait été condamnée <b>0</b> fois.  <br> <br>
        L'algorithme classe ce dossier à <b>haut</b> risque.
    </p>
  </div>
</div>

<h5 class="card-title"> Description des variables utilisées </h5>

<table class="table table-bordered">
  <tr>
    <th class="tg-0pky">Variable</th>
    <th class="tg-0pky">Exemple </th>
    <th class="tg-0pky">Description</th>
  </tr>
  <tr>
    <td class="tg-0pky">genre</td>
    <td class="tg-0pky">homme</td>
    <td class="tg-0pky">
        Genre de l'accusé. Deux catégories sont possibles : homme ou femme. <br>
        Les hommes présentent généralement un risque de récidive plus élevé que les femmes.
    </td>
  </tr>
  <tr>
    <td class="tg-0pky">age</td>
    <td class="tg-0pky">44</td>
    <td class="tg-0pky">
        Âge de l'accusé en années. <br>
        Les accusés jeunes présentent généralement un risque de récidive plus élevé. </td>
  </tr>
  <tr>
    <td class="tg-0pky">origine</td>
    <td class="tg-0pky">Afro-americaine</td>
    <td class="tg-0pky">
        Origine ethnique de l'accusé dans l'une des catégories suivantes (classées par niveau de risque décroissant) :<br>
        - Natif americaine <br>
        - Afro-americaine <br>
        - Caucasienne <br>
        - Autre <br>
        - Hispanique <br>
        - Asiatique <br>
<!--    <p><small> Notez que l'utilisation de l'origine éthnique serait proscrite en France dans une telle décision.  </small></p>    -->
    </td>
  </tr>
  <tr>
    <td class="tg-0pky">description</td>
    <td class="tg-0pky">Felony Battery (Dom Strang)</td>
    <td class="tg-0pky">
        Description du motif de l'accusation (en anglais). <br>
        Ex: - 'DUI Property Damage/Injury' (faible risque de récidive) <br>
            - 'Felony Petit Theft' (haut risque de récidive)
    </td>
  </tr>
  <tr>
    <td class="tg-0pky">type</td>
    <td class="tg-0pky">crime</td>
    <td class="tg-0pky">
        L'accusation peut porter sur un crime ou un délit. Les crimes sont plus graves que les délits et généralement
        associés à un niveau de risque plus important.
    </td>
  </tr>
  <tr>
    <td class="tg-0pky">nombre_condamnations_anterieures</td>
    <td class="tg-0pky">0</td>
    <td class="tg-0pky">
        Le nombre de condamnations antérieures à cette accusation. Avoir déjà été condamné plusieurs fois conduit
        généralement à un niveau de risque de récidive plus important.
    </td>
  </tr>
</table>

<br>

<h5 id="headings">Présentation des exercices </h5>

<p align="justify">
L'expérience se décompose en 10 exercices. Dans chaque exercice vous sera proposé un cas classé à haut risque par l'algorithme. Certaines décisions sont incorrectes (elles ont été délibérement modifiées) et donc injustes. Votre objectif est de contester les décisions qui sont injustifiées et d'accepter les décisions qui ne le sont pas.
</p>
<p align="justify">
    Pour vous aider, une aide sera disponible. Vous pouvez l’activer en cliquant sur le bouton "AIDE TYPE i". Elle peut aussi être désactivée, il faudra alors faire sans aide.
</p>
<p align="justify">
    Une fois que vous pensez avoir la réponse, vous devez la rentrer dans le cadre "Votre réponse" en bas de la page. On vous demande aussi d’indiquer le niveau de confiance que vous attribuez à votre réponse, ainsi qu'un commentaire, si vous le désirez. Certains cas sont difficiles à trouver et ce n'est pas grave si vous ne les trouvez pas tous !
</p>
<p align="justify">
    Vous pourrez à tout moment revenir à cette page et reprendre l'exercice ensuite si vous souhaitez consulter à nouveau
    la description des variables.
</p>

    <form method="post">
    {% csrf_token %}
        {% if user.is_authenticated %}
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="start">Reprendre cas {{user.task_set.count}} / 10</button>
        {% else %}
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="start">Commencez</button>
        {% endif %}
    </form>

{% endblock %}
