{% extends 'base.html' %}

{% block title %} Classement {% endblock %}

{% block h3 %} Classement des candidats {% endblock %}

{% block alert %}{% include 'alert_fake_data.html' %}{% endblock %}

{% block content %}

<div class="container">
    <p>
        Cette page affiche le classement des candidats inscrits sur la
        liste d'attente à la date du {{ date_prel }} pour le donneur
        dont les informations sont décrites ci-dessous.
        La colonne "Id décision" contient des liens vers les
        pages d'explication des décisions correspondantes.
    </p>
</div>

{{ div|safe }}

{% endblock %}


