{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Liste d'attente {% endblock %}

{% block h3 %} Liste d'attente {% endblock %}

{% block alert %}{% include 'alert_fake_data.html' %}{% endblock %}

{% block content %}

<div class="container">
    <p>
        Cette page donne des informations sur l'état de la liste
        d'attente à une date donnée.
        Un traitement est effectué pour estimer la durée d'attente de chaque
        patient sur la liste.
    </p>
    <p>
        <b>Comment lire cette page ?</b>
    </p>
    <p>
        Les patients inscrits sur la liste d'attente de greffe sont
        représentés dans le tableau ci-dessous.
        Les principales informations les concernant sont rappelées dans les colonnes
        de gauche (âge, composante expert, résultats des derniers bilans, ... ).
        Les colonnes de droite permettent d'estimer la durée d'attente avant la
        prochaine proposition de greffon.
        Par exemple si un patient à la valeur 56 % dans la colonne "Prop. 7 jours",
        cela signifie qu'il y a 56 % de chance qu'une proposition lui soit faite
        dans les 7 prochains jours.
    </p>
    <p>
        Les filtres à droite de l'écran permettent de changer la date pour
        laquelle on souhaite consulter la liste d'attente (il s'agit de
        données historiques) et de filtrer une équipe de greffe spécifique.
        Les liens dans la colonne "Id patient" renvoie vers l'historique du patient.
    </p>
    <p>
        <b>Comment sont calculées les estimations ?</b>
    </p>
    <p>
        Les estimations prennent en compte les caractéristiques du
        candidat ainsi que les caractéristiques des autres candidats
        sur la liste d'attente. Puisqu'il est impossible de prévoir
        les greffons qui seront disponibles dans les prochains jours,
        une simulation est faite en se basant sur l'historique des
        greffons. Elle prend en compte les sorties de
        liste pour greffe, décès et aggravation ainsi que les nouvelles
        inscriptions.
    </p>
</div>

<div class="row">
    <div class="col-4 d-flex" style="font-size: 150%">
        État de la liste d'attente le {{ daydate|date }} <br><br>
    </div>

    <div class="col-4 justify-content-end d-flex">
    <form method="post">
        <p>Filtrer par équipe de greffe<br></p>
      {% csrf_token %}
     <div class="form-row">
      <div class="form-group">
       {{ form_equipgrf.equipgrf_field|as_crispy_field }}
      </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Liste d'attente" name="waitlist_date">
    {% if equipgrf %}
        <input class="btn btn-primary" type="submit" value="Effacer le filtre {{ equipgrf }}" name="clear_filter">
    {% endif %}
    </form>
    </div>

    <div class="col-4 justify-content-end d-flex">
    <form method="post">
        <p>Choisir une nouvelle date<br></p>
      {% csrf_token %}
     <div class="form-row">
      <div class="form-group">
       {{ form_date.date_field|as_crispy_field }}
      </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Liste d'attente" name="waitlist_date">
    </form>
    </div>
</div>
<br><br><br>
{% if div %}
    {{ div|safe }}
{% else %}
    <p>
        Aucun candidat n'est inscrit sur la liste d'attente à cette
        date dans notre base de données.<br>
        Merci d'essayer une date comprise entre décembre 2017 et mai 2019.
    </p>
{% endif %}

{% endblock %}


